available: os != "win32" & os != "macos"
x-maintenance-intent: ["(latest)"]
x-ci-accept-failures: [
  "alpine-3.22"
  "centos-9"
  "archlinux"
  "debian-11"
  "fedora-41"
  "fedora-42"
  "fedora-43"
  "opensuse-15.6"
  "opensuse-tumbleweed"
]
